label {
    user-select: none;
}

li {
    user-select: none;
}

li li {
    font-style: italic;
}

input:checked + label {
    font-weight: bold;
}

#mail {
    background: lightyellow !important;
    outline: none;
}

:where(#mail):invalid{
    border: solid 1px red;
}

label:has(+#mail:invalid,+:invalid) {
    color : red
}

#mail:focus:valid{
    outline: revert;
}

input:not(:checked) ~ fieldset {
    display: none;
}

fieldset:not(:has(input:not(:checked))){
    border-color: greenyellow;
}

[data-toto^=tat]{
    outline: solid 1px red;
}







@layer base {
    fieldset {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    html {
        font-family: "Comic Sans MS";
    }

    #mail {
        background-color: skyblue !important;
        border: solid 1px black;
    }
}